   *,::before,::after {margin: 0;box-sizing: border-box;}


   ul {list-style: none; padding: 0;}
   button {cursor: pointer;}
   label {display: inline-block;}
   img { vertical-align: bottom;}
   a{text-decoration: none; display: inline-block;}
    
      @font-face {
         font-family: 'proxima nova';
         src: url(../fonts/ProximaNova-Bold.woff2);
         font-weight: 700;
         font-display: swap;
      }
   
      @font-face {
         font-family: 'proxima nova';
         src: url(../fonts/ProximaNova-Regular.woff2);
         font-weight: 400;
         font-display: swap;
      }
   
      @font-face {
         font-family: 'proxima nova';
         src: url(../fonts/ProximaNovaT-Thin.woff2);
         font-weight: 100;
         font-display: swap;
      }



   html {font-size: 15px; --red:#ca3c3c ;   --ff:'Proxima Nova', sans-serif;}
   body {font: 16px/1.3 system-ui, sans-serif;}



   .container {max-width: 1200px; margin: auto; padding: 0 1rem;}


   .row{ display: grid; grid-template-columns: repeat(12,1fr); gap:2rem;}
   .col-1 {grid-column: span 1;}
   .col-2 {grid-column: span 2;}
   .col-3 {grid-column: span 3;}
   .col-4 {grid-column: span 4;}
   .col-5 { grid-column: span 5;}
   .col-6 {grid-column: span 6;}
   .col-7 {grid-column: span 7;}
   .col-8 {grid-column: span 8;}
   .col-9 {grid-column: span 9;}
   .col-10 {grid-column: span 10;}
   .col-11 {grid-column: span 11;}
   .col-12 {grid-column: span 12;}

   .flex{display: flex;}
   .justify-space-between{justify-content: space-between;}
   .align-center{ align-items: center;}
   .gap-y-4{row-gap: 4rem 0;}

      /*layout*/
   
   header{background-color: #000; color: #fff; position: sticky; top: 0; z-index: 1;}
   h1{font-size: 2rem;}
   h1 a{color: inherit; line-height: 80px;}
   .menu{ display: none; position: absolute; right: 1rem; top: 50%; transform: translateY(-50%);}
   .menu span{ display: block; height: 2px; background: var(--red); margin: 5px 10px; transition: 300ms; transform-origin: right center;}
   .menu.active span:nth-child(1){ rotate: -12deg; }
   .menu.active span:nth-child(2){ opacity: 0;}
   .menu.active span:nth-child(3){ rotate: 12deg; }
   nav li{ margin: 0 20px ;}
   nav a{color: inherit; line-height: 80px ; padding: 0 1rem;}

   .btn{ width: 90px; height: 35px; border: 2px solid; background: none; color:var(--red); border-radius: 10px; font-size: 16px;} 



   .banner{ background-color: #666; color: white; padding: 15rem 0;}
   .banner p{ font-size: 4rem; font-weight: 100;}
   .banner a{ color: var(--red);}
   .banner button{background: none; border: none; color: inherit; font-size: 10rem; margin-right: 40px ;}
   .banner video{ display: none;}



   section{ background-color: var(--red); color: #fff; padding: 50px 0;}
   h2{ font-size: 72px; line-height: 60px; border-bottom: 9px solid; padding: 4px ;}
   .circle{ width: 100px; aspect-ratio: 1/1; border: 2px solid; display: grid; place-content: center; border-radius: 50%; font-size: 36px; margin-right: 2rem;}


   .wrap-3{ font-size: 16px;}
   .wrap-3 h3{ line-height: 30px ;}
   .wrap-3 p{ font-size: 14px; font-weight:100; line-height: 22px;}


   .wrap-4{ background-color: #fff; color: var(--red); line-height: 10rem; font-size: 31px; text-align: center;}


   .wrap-5{background: #ebebeb; color: #363636;}
   .wrap-5 .btn{ margin: 2rem 10px 4rem 0;}
   .wrap-5 .fill{ background-color: var(--red); color: #fff; border: var(--red);}

   .project{ position: relative; overflow: hidden;}
   .caption{ background-color: #fff; position: absolute; left: 0; right: 0; bottom: 0px; text-align: center; padding: 20px 0;opacity: 0; transition: 400ms;}
   .caption h3{ color: var(--red); font-size: 18px; line-height: 20px;} 
   .caption p{ font-weight: 100; font-size: 14px; color: #898989; line-height: 20px;}
   .project:hover .caption{ opacity: 1;}
   .project img{ width:100%;}
   .wrap-5 .all:nth-last-child(-n+3){ display: none;}
   .more{  border: none; background: none; color: var(--red); font-size: 36px; margin-top: 2rem;}
  
    
    
.wrap-6{ padding: 4rem 0 2rem; background: #666; color: var(--white); text-align: center;}
.wrap-6  p{  font: 100 36px/1.14 var(--ff) }
.wrap-6 img{ margin-top: 17px;}
.wrap-6 b{ display: block; margin: 0.66rem 0 2rem;}
/* .reviews blockquote{ display: none;}
.reviews blockquote:first-child{ display: block;} */

.wrap-6 .slick-slide img{ margin: auto; }
.wrap-6 .slick-dots li button:before{ display: none; }
.wrap-6 .slick-dots li button{ width: 10px; height: 10px; border: 2px solid #fff; padding: 0; border-radius: 50%; }
.wrap-6 .slick-active button{ background: #fff; }
.wrap-6 .bx-wrapper{ background: none; border: none; box-shadow: none; padding: 10px 20px; color: #fff; }
.wrap-6 .bx-wrapper img{ display: inline;}

.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:focus ,.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:active , .wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:hover , .wrap-6 .bx-wrapper .bx-pager.bx-default-pager a.active {background-color: #fff;}

/* .wrap-6 .bx-wrapper .bx-pager.bx-default-pager a.active ,.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:hover,.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:active,.wrap-6 .bx-wrapper .bx-pager.bx-default-pager a:focus{background: #fff; } */





.wrap-7{ background: var(--white); color: #363636; padding: 100px 0 140px; }
.team{ position: relative; margin: 80px 0 33px;}
.social{ position: absolute; left: 140px; top: 60px;}
.social li{ margin-right: 10px;}
.social a{ display: block; font-size: 24px; width: 50px; line-height: 50px; text-align: center; border-radius: 50px; background: var(--red); color: var(--white); }
.gap{ margin: 50px 0 0 100px;}
.gap h3{ color: var(--red); font-size: 18px; margin-bottom: 10px;}
.gap small{ font: 100 14px var(--ff); color: #666;}
.gap p{ color: #363636; font: 100 14px/22px var(--ff); margin-top: 1rem;}
.wrap-7 .all:nth-last-child(-n+3){ display: none;}




.wrap-8{ padding: 6rem 0 5rem; background: #666; color: var(--white); text-align: center;}
.wrap-8 span.fa{ font-size: 72px;}
.wrap-8 p{ font-size: 72px; font-weight: 100; }
.wrap-8 b{ font-size: 18px; }



.wrap-9{ background: var(--white); color: #363636; padding: 100px 0 125px; }
.doughnut{ aspect-ratio: 1/1; border-radius: 50%; margin-top: 80px; position: relative; display: grid; place-items: center;}
.d75{ background: conic-gradient(var(--red) 270deg, #fff 270deg)}
.d25{ background: conic-gradient(var(--red) 90deg, #fff 90deg)}
.d50{ background: conic-gradient(var(--red) 180deg, #fff 180deg)}
.doughnut::before{ content: ''; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border-radius: 50%; margin: 10px; background: #fff; }
.doughnut span{ position: relative; color: var(--red);}
.accordion{ margin-top: 80px;}
.accordion li{ margin-bottom: 10px; }
.accordion a{ display: block; border: 1px solid #ebebeb; color: #666; padding: 13px 19px; border-radius: 10px;}
.accordion a span{ margin-right: 17px;}
.accordion p{ color: #363636; font: 100 14px/22px var(--ff); display: none; margin: 20px;}
.accordion a.active{ color: var(--red);}
.accordion li:first-child p{ display: block;}
.accordion a::after{ content: '+'; float: right;}
.accordion a.active::after{ content: '—'; }


.wrap-10{ padding: 23px 0 22px; background: var(--red);}
.wrap-10 input{ width: 370px; height: 35px; background: none; border: none; font: 100 36px var(--ff); color: var(--white); }
.wrap-10 .btn{ background: #fff;}
.wrap-10 input::placeholder{ color: var(--white);}


.wrap-11{ padding: 23px 0 22px; background: #7f7f7f;}
.box{ line-height: 95px; text-align: center; background: #666; color: #fff; }



.wrap-12{ background: #ebebeb; color: #363636; padding: 100px 0 140px; }
.social2 li{ margin: 20px 20px 20px 0; }
.social2  a{ color: var(--red);}
.wrap-12 label{ display: block; border: 2px solid #363636; padding: 16px; }
.wrap-12 input{ background: none; border: none; }
.wrap-12 textarea{ background: none; border: none; vertical-align: top; resize: none; height: 44px; }
.wrap-12 button{ width: 100%; background: var(--white); border: none; color: var(--red); height: 80px; border-radius: 10px;}
.wrap-12 button span.fa{ font-size: 36px; vertical-align: middle;}
.wrap-12 address{ margin: 40px 0;}


.wrap-13{ background: #252525; text-align: center; padding: 50px 0; color: #fff;}


.wrap-13 button{ background: none; color: var(--red); border: none; font-size: 36px;} 

.overlay{background:#0008; position: fixed; inset: 0; z-index: 1; }
.popover{ position: fixed; left: 50%; top: 100px; transform: translateX(-50%); padding: 1rem; background: #fff; border-radius: 10px; z-index: 2; }
.popover .close{ position: absolute; right: 10px; top: 10px; color: var(--red); border: none; background: none; } 


      /*responsive*/


   @media screen and (max-width:1220px) {html {font-size: 15px;}
   h2{ font-size: 60px ;}}

   @media screen and (max-width:980px) {
   .col-t-1 {grid-column: span 1;}
   .col-t-2 {grid-column: span 2;}
   .col-t-3 {grid-column: span 3;}
   .col-t-4 {grid-column: span 4;}
   .col-t-5 { grid-column: span 5;}
   .col-t-6 {grid-column: span 6;}
   .col-t-7 {grid-column: span 7;}
   .col-t-8 {grid-column: span 8;}
   .col-t-9 {grid-column: span 9;}
   .col-t-10 {grid-column: span 10;}
   .col-t-11 {grid-column: span 11;}
   .col-t-12 {grid-column: span 12;}
   }
   @media screen and (max-width:767px) {
   html {font-size: 12px;}
   .collapse{ display: none;}
    .menu{ display: inline-block;}
    .collapse{ display: none; padding-bottom: 1rem; height: auto; position: absolute; background: #000; left: 0; right: 0; top: 80px;}
    .collapse > div.flex{ flex-direction: column; }
    nav ul{ flex-direction: column; }
    nav{ width: 100%; text-align: right;}
    nav a{ line-height: 40px;}
   }

   @media screen and (max-width:460px) {
   .col-p-1 {grid-column: span 1;}
   .col-p-2 {grid-column: span 2;}
   .col-p-3 {grid-column: span 3;}
   .col-p-4 {grid-column: span 4;}
   .col-p-5 { grid-column: span 5;}
   .col-p-6 {grid-column: span 6;}
   .col-p-7 {grid-column: span 7;}
   .col-p-8 {grid-column: span 8;}
   .col-p-9 {grid-column: span 9;}
   .col-p-10 {grid-column: span 10;}
   .col-p-11 {grid-column: span 11;}
   .col-p-12 {grid-column: span 12;}
   .banner .flex{ font-size: 3rem; align-items: center; flex-wrap: wrap;}
   }